body{background: #e0e0e0ef;
}
h1{
	font-size: 2.3em;

    font-weight: 700px;
}
#title{
        color: #075563;
        padding-bottom: 15px;
    }

.content1{
    font-size: 1.35em;
    color: #000000;  
    background : #148dac;
    padding: 10px;
   
       
       }
.content2{
    font-size: 1.35em;
    background :#2890aa;
    padding: 10px;
    color: #000000;   
    margin-top: 3px;  
       
}
.content3{
    font-size: 1.35em;
    background : #19778f;
    padding: 10px;
    color: #000000;   
    margin-top: 4px;
}

/*defining the features of logo*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
        
  }