display-flex, .signup-form, .form-group,body{
    display: flex;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-size: 13px;
    line-height: 1.8;
    background:rgba(189,240,224,30%);
    background-size: cover;
    font-weight: 400;

    font-family:"ROBOTO"; 
  }
.signup-img {
    max-width: max-content;
    height: 860px; 

}

.signup-img, .regform {
    width: 50%;
position: relative; }
.logo{
    padding-top: 6%;
    width: 30%;
}
.name{
    font-size:50px;
    color:#1BBA93;
    font-weight: bold;
}
.regform{
    padding-left: 8%;
    padding-right: 6%;

}
.form-group {
    margin: 0 -15px; }
    .form-group .form-groupL {
      width: 50%;
      padding: 0 15px; }
  
.form-groupL {
    margin-bottom: 5px;
    position: relative; } 
     
.form-body .label-title {
    color:#1BBA93;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
}
.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 2px 2px;
    color: #000;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}
p{
    font-size: 10px;
    color: #0c775c;
}
.form-body input[type="submit"]
{
    border: none;
    outline: none;
    margin: 20px;
    width: 300px;
    height: 40px;
    background: #1BBA93;
    color: #fcfcfc;
    font-size: 18px;
    border-radius: 120px;
    text-align: center;
}

.form-body input[type="submit"]:hover
{
    cursor: pointer;
    background: #42d1f5;
    color: #000;
}