/*modifying the background details*/
body{
    margin: 0;
    padding: 0;
    background: url(./docloginbg.jpg);
    background-size:cover;
    background-position: center;
    font-family: Roboto;
}
/*defining the features of login box*/
.loginbox{
    width: 300px;
    height: 380px;
    background :rgba(256,256,256, 50%);
    color: #1c2541;
    top: 55%;
    left: 50%;
    border-radius: 5%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
/*defining the features of logo*/
.Logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: -10;
    left: calc(43% - 50px);
}

/*defining featurs of contents inside the login box*/
/*Welcome*/
h1{
    margin: -20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
/*others*/
form{
    margin: 20px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c2541;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#3a506b;
    color:white;
}
