.container{
    font-family: ROBOTO
}

h2{
    font-family: ROBOTO;
}

#meet{
    font-family: ROBOTO
}

#about{
    font-family: ROBOTO
}

p{
font-family: ROBOTO
}

#content
{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgb(0,0,0,0,4),
				 0px 8px 13px rgb(0,0,0,0,1),
				 0px 18px 23px rgb(0,0,0,0,1);
}
.design{
    background-image: url("./Banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	background-position: center;
		color: white
}	
html{
	height: 100%;
}
h1{
	font-size: 5em;

	font-weight: 700px;

}
hr{
	width: 400px
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgb(0,0,0,0.2) 
}
h3	
{
	color: white
}

.site_footer{
	background-image: url(".regPageBG.jpg")
}

.site_footer ul{
	list-style: none;
	font-size: 17px;
	padding-left: 44px;
	padding-bottom: 40px
}

.site_footer p{
	padding-left: 957px
}

#content{
	padding-top: 1px;
}

#content h1{
	padding-top: 1px;
}

#BName{
    color: #29abe2;
}


#meet{
	font-size: 40px;
	padding-left: 550px;
	padding-bottom: 10px;
	color:#2b9af4;
	padding-top: 50px
}

#about{
	color:#2b9af4;
    padding-left: 15px;
    padding-top:50px 
}

#aboutcon{
padding-left: 15px;
padding-top:10px 
}

.navbar{
    font-family: ROBOTO
}

img{
    border-radius: 50%
}

#roll{
    padding-left: 135px
}

#dnames{
    padding-left: 60px
}
