#content
{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgb(0,0,0,0,4),
				 0px 8px 13px rgb(0,0,0,0,1),
				 0px 18px 23px rgb(0,0,0,0,1);
}
.design{
	background-image: url(C:/Users/Sourabh/Downloads/dc_pat-1527137482.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
	background-position: center;
		color: white
}	
html{
	height: 100%;
}
h1{
	font-size: 5em;

	font-weight: 700px;
}
hr{
	width: 400px
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgb(0,0,0,0.2) 
}
h3	
{
	color: white
}

.site_footer{
	background-image: url("C:/Users/Sourabh/Downloads/regPageBG.jpg")
}

.site_footer ul{
	list-style: none;
	font-size: 17px;
	padding-left: 44px;
	padding-bottom: 40px
}

.site_footer p{
	padding-left: 957px
}

#content{
	padding-top: 1px;
}

#content h1{
	padding-top: 1px;
}

#BName{
    color: #29abe2;
}

  
section.cms-boxes .cms-boxes-outer {
    text-align: left;
    margin-bottom: 6px;
    padding: 0 3px;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
	width: 100%;
	
}
section.cms-boxes .cms-features {
    background-color: #042735;
    background-size: cover;
}
section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: middle;
}
section.cms-boxes .small-box, section.cms-boxes .large-box {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
section.cms-boxes .cms-boxes-items h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
    color: rgb(255, 255, 255);
}
section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: middle;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-features {
	background-color: #07b6b6;
    background-size: cover;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 350px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-security {
    background-color: #0489b7;
}
section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
    background-color: rgb(50, 140, 143);
}
section.cms-boxes .cms-scalability {
    
	background-color: rgb(4, 55, 65);
}
section.cms-boxes .cms-boxes-outer {
    text-align: left;
    margin-bottom: 6px;
	padding: 0 3px;
	
}
section.cms-boxes .cms-built {
    background: url(images/customer-service.jpg) 0 0 no-repeat;
	background-size: cover;
	background-color: rgb(4, 55, 65);
}
section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
    background-color: rgb(15, 123, 131);
}
section.cms-boxes .cms-boxes-items:hover {
  opacity: .2;
  cursor: pointer;
}

#meet{
	font-size: 40px;
	padding-left: 530px;
	padding-bottom: 10px;
	color:#2b9af4;
	padding-top: 50px
}

#about{
	color:#2b9af4;
    padding-left: 15px;
    padding-top:50px 
}

#aboutcon{
padding-left: 15px;
padding-top:10px 
}
