/*if class is being descibed then .classname else #idName*/
#content
{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgb(0,0,0,0,4),
				 0px 8px 13px rgb(0,0,0,0,1),
				 0px 18px 23px rgb(0,0,0,0,1);
}
.design{
    background-image: url("./Banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	background-position: center;
		color: white
}	
html{
	height: 100%;
}
h1{
	font-size: 5em;
	font-weight: 600px;
}
hr{
	width: 400px;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgb(0,0,0,0.2);
}
/*.navbar{
	font-family: ROBOTO;
	background-color:rgb(29, 147, 243);
}
.navbar-brand,.navbar-nav li a{
	color: aliceblue;
	font-size:18px ;
	font-family: "ROBOTO";
}*/

/*start dropdown color fix*/

/*ul.nav a:focus {
    background-color: rgb(29, 147, 243);
    color: white
}

ul.nav a:hover {
    color: rgb(29, 147, 243);
    background-color: white
}*/

/*end dropdown color fix*/

h3	
{
	color: white
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.site_footer{
	background-image: url("./FooterBG.png");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #4962ab;
}

.site_footer ul{
	list-style: none;
	font-size: 17px;
	padding-left: 59px;
	padding-bottom: 45px
}

.site_footer p{
	padding-left: 72%
}

#content{
	padding-top: 1px;
}

#content h1{
	padding-top: 1px;
}

#BName{
    color: #002147;
}
.container{
    font-family: ROBOTO
    }
    
h2{
    font-family: ROBOTO;
    }
    
#meet{
    font-family: ROBOTO
    }
    
#about{
    font-family: ROBOTO

    }
    
p{
    font-family: ROBOTO
    }
#meet{
	font-size: 40px;
	color: #002147;
	padding-top: 70px;
	text-align: center;
}

#hons{
	font-size: 40px;
	color: #002147;
	padding-top: 35px;
	text-align: center;
}

hr{
  	  border: 1px solid #4962ab;
}

#about{
	font-size: 40px;
	color: #002147;
    padding-left: 15px;
	padding-top:25px 
}

#aboutcon{
padding-left: 15px;
padding-right: 15px;
padding-top:10px; 
font-size: 17px;
text-align: justify;
}
  
#aboutcon:after {
	content: "";
	display: inline-block;
	width: 100%;
  }

#roll img{
    border-radius: 50%;
}

.container #roll{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	border: 1px solid black;
  }
  
  .social {
	position: relative;
	display: inline-block;
	float: left;
	padding: 10px;
  }
  .social P{
	  padding-top: 10px;
	  text-align: center;
	  color: #002147;
	  font-size: 17px
  }
  #spec{
  	text-align: center;
	  color: #4962ab;
	  font-size: 16px;
  	  padding:0;
  	  line-height: 9px;
  	  padding-bottom: 10px
  }

  .social img{
  	border: 7px solid #4962ab;
  }

/*.navbar-toggle { 
	border-color: white; 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3 0 40 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

#footleft{
	text-align: right;
}

#slogan
{
	padding-left: 9%;
	padding-top: 10%;
	color: #4962ab;
}

.discol {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center
}

.discol p{
	padding-top: 10px;
	  text-align: center;
	  color: #002147;
	  font-size: 19px;
	  padding-bottom: 30px;
}

.discol img{
	border-radius: 50%;
	border: 7px solid #4962ab;
}

.disrow::after {
  content: "";
  clear: both;
  display: table;
}

ul.nav a:hover { color: #3a506b !important; }

.navbar-brand,.navbar-nav li a{
  color:#d4d1d1;
font-size:18px ;
font-family: Arial, Helvetica, sans-serif;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background: #222c4d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
 
  bottom: 23px;
  right: 28px;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}
.open-button:hover {
  background-color: #3a506b;
}
/* The popup form - hidden by default */
.navbar{
    font-family: ROBOTO;
    background-color:#1c2541;
  
    
}
.navbar-brand {
font-size: 30px;

}
/* Modify brand and text color */ 
.navbar-brand,.navbar-nav>.open>a {
  background-color: #3a506b;
}
.navbar-brand,.navbar-nav {
  color:#d4d1d1;
  font-size:18px ;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand:hover{
  background-color: #3a506b;
}
.form-popup {
  
        
        display:none;
        top:100px; 
        right:60%;
        left:39%;
        width:300px;
        position:fixed; 
        z-index: 2000;
        padding:30px; 
        -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
        -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
        box-shadow:0 0 10px rgba(0,0,0,0.4)
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background: #222c4d;

  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background: #1c2541;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  background: #4962ab;
}
.active  {
  background-color:  #3a506b; }
