/*if class is being descibed then .classname else #idName*/
#content
{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgb(0,0,0,0,4),
				 0px 8px 13px rgb(0,0,0,0,1),
				 0px 18px 23px rgb(0,0,0,0,1);
}
.design{
    background-image: url("./Banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	background-position: center;
		color: white
}	
html{
	height: 100%;
}
h1{
	font-size: 5em;
	font-weight: 600px;
}
hr{
	width: 400px;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgb(0,0,0,0.2);
}
.navbar{
	font-family: ROBOTO;
	background-color:rgb(29, 147, 243);
}
.navbar-brand,.navbar-nav li a{
	color: aliceblue;
	font-size:18px ;
	font-family: "ROBOTO";
}

/*start dropdown color fix*/

ul.nav a:focus {
    background-color: rgb(29, 147, 243);
    color: white
}

ul.nav a:hover {
    color: rgb(29, 147, 243);
    background-color: white
}

/*end dropdown color fix*/

h3	
{
	color: white
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.site_footer{
	background-image: linear-gradient(#4481eb 0%, #04befe 100%);
}

.site_footer ul{
	list-style: none;
	font-size: 17px;
	padding-left: 10px;
	padding-bottom: 45px
}

.site_footer p{
	padding-left: 72%
}

#content{
	padding-top: 1px;
}

#content h1{
	padding-top: 1px;
}

#BName{
    color: #29abe2;
}
.container{
    font-family: ROBOTO
    }
    
h2{
    font-family: ROBOTO;
    }
    
#meet{
    font-family: ROBOTO
    }
    
#about{
    font-family: ROBOTO
    }
    
p{
    font-family: ROBOTO
    }
#meet{
	font-size: 40px;
	padding-bottom: 10px;
	color:#2b9af4;
	padding-top: 40px;
	text-align: center;
}

hr{
  	  border: 1px solid #1BBA93;
}

#about{
	font-size: 40px;
	color:#2b9af4;
    padding-left: 15px;
	padding-top:30px 
}

#aboutcon{
padding-left: 15px;
padding-right: 15px;
padding-top:10px; 
font-size: 17px;
text-align: justify;
}
  
#aboutcon:after {
	content: "";
	display: inline-block;
	width: 100%;
  }

#roll img{
    border-radius: 50%;
}

.container #roll{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	border: 1px solid black;
  }
  
  .social {
	position: relative;
	display: inline-block;
	float: left;
	padding: 10px;
  }
  .social P{
	  padding-top: 10px;
	  text-align: center;
	  color: #1BBA93;
	  font-size: 17px
  }
  #spec{
  	text-align: center;
	  color: #42d1f5;
	  font-size: 16px;
  	  padding:0;
  	  line-height: 9px;
  	  padding-bottom: 10px
  }

  .social img{
  	border: 7px solid #1BBA93
  }

.navbar-toggle { 
	border-color: white; 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3 0 40 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

/*Editing look of Patient dropdown*/

#Patient1{
	border-radius: 50%;
}
