/*modifying the background details*/
body{
    margin-left:50px;
    padding: 0; 
    background: url("./schedulebg.png");
    background-size:cover;
    background-position: center;
    font-family: ROBOTO
    
}

/*defining the features of logo*/
.Logo{
    width: 150px;
    height: 150px;
    padding-top: 30px;
}

.Logo1{
    padding-bottom: 1%;
    padding-left: 44%;
}

/*defining featurs of contents inside the login box*/
/*Welcome*/
h1{
    padding-bottom: 3%;
    text-align: center;
    font-size: 22px;
}
/*others*/

.appform{
  display:block;
  text-align:left;
  display:inline-block;
  width:700px;
  margin-left: 30%;
   margin-right: 50%;
}

.active  {
  background-color: #3c93ad;
}
#Dropdownform{
    align-content: center;
    width:70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  };

}
#drop{
    padding-bottom: 100px;
    width: 200px
}


html,body
{   
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



*{box-sizing: border-box}

/* Add padding to containers */

/* Full-width input fields */
input[type=text], input[type=time] {
    width:70%;
    
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  };

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin-left: 200px;
  margin-right: 200px;
}

/* Add padding to containers */
/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
  margin-left: 15%;
  margin-right: 30%;
  margin-top: 50px;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(63, 158, 202);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
 
  bottom: 23px;
  right: 28px;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

/* The popup form - hidden by default */
.navbar{
    font-family: ROBOTO;
    background-color: #53acca;
    padding-left: 50px !important;
   padding-right: 50px ;
    
}
.navbar-brand {
font-size: 30px;

}
/* Modify brand and text color */ 
.navbar-custom .navbar-brand, .navbar-custom .navbar-text,.navbar-nav li a { 
    color: #010405a4; 
} 
.navbar-brand,.navbar-nav {
    color: rgb(2, 3, 5);
    font-size:18px ;
    font-family: "ROBOTO";
}

.form-popup {
  
        
        display:none;
        top:100px; 
        right:60%;
        left:39%;
        width:300px;
        position:fixed; 
        z-index: 2000;
        padding:30px; 
        -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
        -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
        box-shadow:0 0 10px rgba(0,0,0,0.4)
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #3c93ad;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:#2e748a;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*css for the hidden doctors*/

#doc1 {
    display: none;
}
#doc2 {
    display: none;
}
#doc3 {
    display: none;
}
#doc4 {
    display: none;
}
#doc5 {
    display: none;
}
