body{
  font-family: ROBOTO;
 
}

h1{
font-size: 2.3em;

  font-weight: 700px;
}
#title{
      color: #075563;
      padding-bottom: 15px;
  }

/*defining the features of logo*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 177px
}


input[type=time]
{  width:150px;
height:35px;
border: none; /* Remove borders */
color:#d4d1d1; /* Add a text color */
 /* Add some padding */
 padding-left:10px;
 padding-right:10px;
 padding-top:  8px;
 padding-bottom:  8px;
 margin-bottom: 3px;
 border-radius: 2px;
cursor: pointer;
background:#2c354e;
}

ul.nav a:hover { color: #ffffff; background-color: #1c2541 !important; }

.navbar-brand,.navbar-nav li a{
color:#d4d1d1;
font-size:18px ;
font-family: Arial, Helvetica, sans-serif;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background: #222c4d;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;

bottom: 23px;
right: 28px;
width: 280px;
margin-left: 20px;
margin-right: 20px;
}

/* The popup form - hidden by default */
.navbar{
  font-family: ROBOTO;
  background-color:#1c2541;

  
}
.navbar-brand {
font-size: 30px;

}
/* Modify brand and text color */ 
.navbar-brand,.navbar-nav>.open>a {
background-color: #3a506b;
}
.navbar-brand,.navbar-nav {

font-size:18px ;
font-family: Arial, Helvetica, sans-serif;
}

.form-popup {

      
      display:none;
      top:100px; 
      right:60%;
      left:39%;
      width:300px;
      position:fixed; 
      z-index: 2000;
      padding:30px; 
      -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
      -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
      box-shadow:0 0 10px rgba(0,0,0,0.4)
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background: #222c4d;

color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
background: #1c2541;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
background: #4962ab;
}
.active  {
background-color:  #3a506b; }

.dropdown{
font-size:18px ;
font-family: Arial, Helvetica, sans-serif;

}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
float: left;
width: 25%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #d2e3e7;
}
.btn {
width:150px;
height:35px;
border: none; /* Remove borders */
color: white; /* Add a text color */

cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.btnsuccess {
width:150px;
height:35px;
border: none; /* Remove borders */
color: #d4d1d1; /* Add a text color */
 /* Add some padding */
 padding-top:  8px;
 padding-bottom:  8px;
 
 border-radius: 2px;
cursor: pointer;
background-color:#2c354e; /* Add a pointer cursor on mouse-over */} /* Green */
.btnsuccess:hover {background: #4962ab;}
.w3-button:hover {background: #4962ab !important;}


hr{
align-items: center;
width:95%;
border: 0.5px solid #002147;
}
