body{
    font-family: ROBOTO;
 
}
h1{
	font-size: 2.3em;

    font-weight: 700px;
}
#title{
        color: #075563;
        padding-bottom: 15px;
    }

/*defining the features of logo*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 177px
  }

  input[type=button]
  {
    outline: none;
    height: 40px;
    background:  #11535e;
    width:120px;
    font-size: 18px;
    border-radius: 3px;
}
input[type=time]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2a6a74;
    width:80px;
    font-size: 18px;
    border-radius: 3px;
}
input[type=button], input[type=time]:hover
{
    cursor: pointer;
    background: #2a6a74;
   
}


    .dashboard-panel { 
        margin-top: 30px;
        color: #000000;
        margin-left: 200px;
        margin-right:200px;
    } 
 
    .panelTitle { 
        padding-Left: 4px; 
        font-size: 20px; 
        height: 60px;
         color: #384e5f;
          display: inline; } 

    .panelTitleBar { 
        align-content: center; 
        text-align: center; 
        margin-top: 20px; 
    } 
    .hubPanel { 
        padding: 20px; 
        min-height: 220px;
        background: #3e95a1;
 
     }
     .shadowHover:hover { 
         box-shadow: 0 5px 12px 0 rgba(61,109,167,0.1), 0 4px 15px 0 rgba(61,109,167,0.1); 
     }
      .panelContent { 
          font-size: 18px;
           font-weight: 300; 
           margin-top: 30px;
           text-align: center; 
           color: #2d4442;
         
           margin-bottom: 30px;
    } 
        
      
       .panelSeperator { border-bottom: 1px solid #ddd;
        margin-left: 80px;
        margin-right:80px; } 

     
/* Button used to open the contact form - fixed at the bottom of the page */



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(63, 158, 202);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
   
    bottom: 23px;
    right: 28px;
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* The popup form - hidden by default */
  .navbar{
      font-family: ROBOTO;
      background-color: #53acca;
      padding-left: 50px !important;
     padding-right: 50px ;
      
  }
  .navbar-brand {
  font-size: 30px;
  
  }
  /* Modify brand and text color */ 
  .navbar-custom .navbar-brand, .navbar-custom .navbar-text,.navbar-nav li a { 
      color: #010405a4; 
  } 
  .navbar-brand,.navbar-nav {
      color: rgb(2, 3, 5);
      font-size:18px ;
      font-family: "ROBOTO";
  }
  
  .form-popup {
    
          
          display:none;
          top:100px; 
          right:60%;
          left:39%;
          width:300px;
          position:fixed; 
          z-index: 2000;
          padding:30px; 
          -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
          -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
          box-shadow:0 0 10px rgba(0,0,0,0.4)
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #3c93ad;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color:#2e748a;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  

  .active  {
    background-color: #3c93ad;
  }  