body{background: #ffffff;;
    font-family: ROBOTO;
}
h1{
	font-size: 2.3em;

    font-weight: 700px;
}
#title{
        color: #075563;
        padding-bottom: 15px;
    }

/*defining the features of logo*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 177px
  }

  input[type=button]
  {
    outline: none;
    height: 40px;
    background:  #045b68;
    width:120px;
    font-size: 18px;
    border-radius: 5px;
}
input[type=time]
{
    border: none;
    outline: none;
    height: 40px;
    background: #0b6e7e;
    width:80px;
    font-size: 18px;
    border-radius: 5px;
}
input[type=button], input[type=time]:hover
{
    cursor: pointer;
    background: #0b6e7e;
   
}

.navbar-toggle { 
	border-color: white; 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3 0 40 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
ul.nav a:hover {
    color: rgb(29, 147, 243);
}
.navbar{
	font-family: ROBOTO;
	background-color:rgb(29, 147, 243);
}
.navbar-brand,.navbar-nav li a{
	color: aliceblue;
	font-size:18px ;
	font-family: "ROBOTO";
}


    .dashboard-panel { 
        margin-top: 30px;
        color: #000000;
        margin-left: 150px;
        margin-right:150px;
    } 
 
    .panelTitle { 
        padding-Left: 4px; 
        font-size: 20px; 
        height: 60px;
         color: #4d6272;
          display: inline; } 

    .panelTitleBar { 
        align-content: center; 
        text-align: center; 
        margin-top: 20px; 
    } 
    .hubPanel { 
        padding: 20px; 
        min-height: 220px;
        background: #adeeec;
 
     }
     .shadowHover:hover { 
         box-shadow: 0 5px 11px 0 rgba(61,109,167,0.1), 0 4px 15px 0 rgba(61,109,167,0.1); 
     }
      .panelContent { 
          font-size: 18px;
           font-weight: 300; 
           margin-top: 30px;
           text-align: center; 
           color: #6ea19b;
         
           margin-bottom: 30px;
    } 
        
      
       .panelSeperator { border-bottom: 1px solid #ddd;
        margin-left: 80px;
        margin-right:80px; } 

     