.schedulebox{
    size: 0px;
}

.navbar{
font-family: ROBOTO
}

/*modifying the background details*/
body{
    margin: 0;
    padding: 0; 
    background: url("./schedulebg.png");
    background-size:cover;
    background-position: center;
    font-family: ROBOTO
}
/*defining the features of login box*/
.schedulebox{
    width: 300px;
    height: 380px;
    background :rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(254, 254, 255), alpha);
    color: #2f9599;
    padding-top: 190px;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    font-family: Roboto;
}
/*defining the features of logo*/
.Logo{
    width: 150px;
    height: 150px;
    padding-top: 30px;
}

.Logo1{
    padding-bottom: 1%;
    padding-left: 44%;
}

/*defining featurs of contents inside the login box*/
/*Welcome*/
h1{
    padding-bottom: 3%;
    text-align: center;
    font-size: 22px;
}
/*others*/
form{
    margin: 20px;
}
.schedulebox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.schedulebox input{
    width: 100%;
    margin-bottom: 20px;
}
.schedulebox input[type="text"], input[type="password"], input [type="time"], input [type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.schedulebox input[type="submit"]
{
    padding: 10px; 
    border: none;
    outline: none;
    height: 40px;
    background: #2f9599;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.schedulebox input[type="submit"]:hover
{
    cursor: pointer;
    background:rgb(93,188,210);
    color: #000;
}
#Dropdowna{
    width:260px;
    margin-bottom: 20px;
    height: 25px;
}
#Dropdownb{
    width:260px;
    margin-bottom: 20px;
    height: 25px;
}
#drop{
    padding-bottom: 100px;
    width: 200px
}

#cpr{
    padding-left: 36%;
    padding-top: 10%;
    font-family: ROBOTO;
}

ul.nav a:hover {
    color: rgb(29, 147, 243);
}
.navbar{
	font-family: ROBOTO;
	background-color:rgb(29, 147, 243);
}
.navbar-brand,.navbar-nav li a{
	color: aliceblue;
	font-size:18px ;
	font-family: "ROBOTO";
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.navbar-toggle { 
	border-color: white; 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3 0 40 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 
